gast==0.2.2
protobuf==3.19.0
nvidia-tensorflow>=1.15
scipy
matplotlib
nose
h5py
progressbar
xgboost
wheel
dill
colour_demosaicing
imbalanced-learn==0.3.3
colour-science
xlwt
joblib==0.11
pyyaml
easydict
pandas
numpy==1.16.4
