tensorflow-gpu==2.12.0
numpy==1.16.4
scipy
matplotlib
nose
h5py
progressbar
scikit-learn==0.19
scikit-image
scikit-video
xgboost
wheel
dill
colour_demosaicing
imbalanced-learn==0.3.3
colour-science
xlwt
joblib==0.11
hmmlearn==0.2.2
