tensorflow-gpu==1.15
numpy==1.22.0
scipy
matplotlib
nose
h5py
progressbar
scikit-learn==0.19
scikit-image
scikit-video
xgboost
wheel
dill
colour_demosaicing
imbalanced-learn==0.3.3
colour-science
xlwt
joblib==0.11
hmmlearn==0.2.2
